<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:banner="@drawable/app_store_banner_320_180"
        android:fullBackupContent="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASOTvPlayer"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".fragment.setting.parental_control.SetupPinActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".fragment.setting.general_settings.GeneralSettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.steam_login.SteamLoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.multiScreen.MultiScreenActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.multiScreenGrid.MultiScreenGridActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.catch_up.CatchUpChannelsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.catch_up.CatchUpItemsListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.category.CategoryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.m3u_playlist.M3UPlaylistActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.youtubePlayer.YoutubePlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.series_program.SeriesDetailsActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.series_program.SeriesProgramActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.live_program_list.LiveProgramListActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.live_program_list.LiveProgramListNewActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.player.PlayerActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.movie.MovieDetailsActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.my_play_list.MyPlayListActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.movie_program_list.MovieProgramListActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.provider_status.ProviderStatusActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.recording.RecordingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.epg_category.EpgCategoryActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.dashboard.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".activity.user_list.UserListActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.login_type.LoginTypeActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.disclaimer.DisclaimerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <provider -->
        <!-- android:name="androidx.startup.InitializationProvider" -->
        <!-- android:authorities="${applicationId}.androidx-startup" -->
        <!-- android:enabled="false" -->
        <!-- android:exported="false" -->
        <!-- tools:node="merge"> -->
        <!-- <meta-data -->
        <!-- android:name="androidx.work.WorkManagerInitializer" -->
        <!-- android:enabled="false" -->
        <!-- android:exported="false" -->
        <!-- android:value="androidx.startup" /> -->
        <!-- </provider> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>